.bg-cover {
  background-size: cover;
  background-position: center;
}
.room {
  .room-header {
    height: 600px;
  }
  .room-title {
    font-size: 36px;
  }
  .descriptionShort {
    letter-spacing: 1.46px;
    line-height: 31px;
  }
  
  .description {
    letter-spacing: 1.25px;
    text-align: justify;
    font-size: 14px;
  }  
}

.check-status {
  font-size: 14px;
  letter-spacing: 1.46px;
  margin-bottom: 0;
}

.check-time {
  font-size: 21px;
  letter-spacing: 2.19px;
}

.amenity {
  background-color:#F0F0F0;
  padding: 15px;
  margin: 40px 0 70px 0;
  display: flex;
  align-items: center;
  .amenity-icon {
    width: 26px !important;
    height: 26px !important;
  }
  .disable {
    opacity: 0.3;
  }
}

.reservation {
  .form-group {
    display: block;
  }
  label {
    display: block;
    margin-bottom: 0.25em;
    text-align: left;
  }
  .vhd-container {
    width: 100%;
    .vhd-input {
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }
  }
}